@media screen and ( max-width: 1024px )
    .main
        background: url('../img/bg_tablet.jpg') left center/cover no-repeat
        padding-left: 58px
        padding-top: 68px
        &_promo
            padding-left: 10px
            background: transparent
            &_decoration
                left: 10px
            &_above_title
                color: white
            &_title
                color: white
            &_description
                width: 300px
                color: white
        &_road
            display: none   
