@media screen and ( max-width: 1240px )
    .main
        min-height: 409px
        padding-left: 0
        background-position: 0px -30px
        &_road
            left: 500px
        &_promo
            padding-left: 80px
            &_decoration
                left: 80px
                top: 0px
