@media screen and ( max-width: 1240px )
    header
    nav
        ul
            li
                margin-right: 20px
                a
                    font-size: 12px
    
    .main
        min-height: 409px
        padding-left: 0
        padding-top: 76px
        background-position: 0px -50px
        &_road
            left: 500px
        &_promo
            padding-left: 80px
            &_decoration
                left: 80px
                top: 0px


