@media screen and ( max-width: 1440px )
    h2
        margin-bottom: 66px
    
    .main_green_button
        width: 240px
        height: 50px
        font-size: 18px

    .main
        padding: 96px 0 0 134px-50px-16px
        background-position: -50px -30px
        min-height: 459px
        &_promo
            height: 266px
            width: 500px
            padding-top: 0
            &_decoration
                top: 0
                width: 10px
                height: 106px
            &_above_title
                font-size: 16px
            &_title
                font-size: 40px
                line-height: 40px
                margin-bottom: 18px   
            &_description
                font-size: 18px
                line-height: 21px
                margin-bottom: 20px


    .audience
        padding: 60px 0
        &_scroll
            &_container
                &_item
                    width: 207px
                    height: 334px
                    &_text
                        height: 89px
                        font-size: 14px
                        line-height: 17px

    .advantages
        &_container
            &_item 
                &_logo
                    width: 97px
                    height: 97px
                &_header
                    font-size: 18px
                &_description
                    font-size: 15px
                    line-height: 18px

    .price
        &_view
            max-width: 860px
            &_box
                &_item
                    width: 400px
                    height: 330px
                    &_decoration
                        width: 12px
                    &_type
                        font-size: 20px
                        margin-bottom: 2px
                        margin-left: 30px
                    &_cost
                        font-size: 28px
                        margin-left: 30px    

