@media screen and ( max-width: 375px )
    .main_green_button
        width: 240px
        height: 50px
        font-size: 18px
    
    header
        .authorization_mobile
            margin-right: 48px
        .mobile_menu
            padding-right: 20px

    .main
        min-height: 521px
        padding-left: 10px
        &_promo
            padding-left: 4px
            width: 300px
            margin: 0 auto
            &_decoration
                left: 4px
                top: 6px
                width: 8px
                height: 96px
            &_above_title
                margin-left: 18px
                font-size: 16px
            &_title
                margin-left: 18px
                font-size: 38px
                line-height: 38px
            &_description
                width: 260px
                font-size: 16px
                line-height: 20px
