@media screen and ( max-width: 375px )
    .main_green_button
        width: 240px
        height: 50px
        font-size: 18px
    
    .header
        .authorization_mobile
            margin-right: 48px
        .mobile_menu
            padding-right: 20px
        .menu
            ul
                items: center
                height: 270px
                padding-top: 280px

    .main
        min-height: 521px
        padding-left: 10px
        &_promo
            padding-left: 4px
            width: 300px
            margin: 0 auto
            &_decoration
                left: 4px
                top: 6px
                width: 8px
                height: 96px
            &_above_title
                margin-left: 18px
                font-size: 14px
            &_title
                margin-left: 18px
                font-size: 38px
                line-height: 38px
            &_description
                width: 260px
                font-size: 16px
                line-height: 20px

    .subjects
        &_container
            &_box
                padding-left: 20px
                &_description
                    &_item
                        width: 250px
                        height: 507px
                        margin-right: 20px
                        &_header
                            padding: 0 15px
                            font-size: 14px
                        &_teacher
                            &_header
                                right: 50px
                                font-size: 10px
                            &_photo
                                margin-top: 20px
                                margin-right: 130px
                            &_name
                                font-size: 18px
                                right: 10px
                            &_decoration
                                right: 54px
            &_demo_link
                font-size: 12px

    .reviews
        &_carousel
            height: 540px
            .carousel-cell
                height: 540px
            &_cell
                height: 540px
                &_content
                    height: 510px
                    padding: 0 27px
                    max-width: 300px
                    &_student
                        width: 280px
                        &_photo
                            width: 62px
                        &_name
                            font-size: 16px
                            span
                                font-size: 11px
                    &_text
                    &_social
                        left: 27px
                        width: 200px
                        &_text
                            font-size: 12px
                        &_links
                            width: 70px
        &_links
            &_item
                font-size: 14px

    .price
        padding: 50px 10px
        h2
            margin-bottom: 16px
        &_view
            &_box
                margin-top: 40px
                &_item
                    &_type
                        font-size: 20px
                    &_cost
                        margin-bottom: 14px
                        font-size: 22px
                &_button
                    margin-top: 28px

    .overlay
        &_modal
            padding: 39px 25px
            width: 94%   
