@media screen and ( max-width: 550px )
    .header
        .logo
            width: 170px
        .authorization
            display: none 
        .authorization_mobile
            display: block

    
    .main
        min-height: 350px
        padding-top: 40px

    .reviews
        &_carousel
            .carousel-cell
            &_cell
                &_content
                    &_student
                        &_photo
                            img
                        &_name
                            span
                    &_text
