@media screen and ( max-width: 768px )
    header
        padding: 38px 40px 26px 40px
        .mobile_menu
            padding-right: 40px
        .authorization
            margin-right: 62px
    
    .main
        background-position: -100px 0
        padding-left: 30px

    

