*
    box-sizing: border-box
    font-family: 'Exo 2', sans-serif

*:focus
    outline: none

h2
    font-size: 34px
    color: #424242
    text-align: center
    font-weight: 600
    margin-bottom: 66px
    padding: 0 30px

button:active
    outline: none

button:focus
    outline: none

.main_green_button, .red_button
    width: 270px
    height: 60px
    background-color: #48B51E
    border: none
    border-radius: 28px
    color: white
    font-size: 22px
    font-weight: 600
    padding-bottom: 5px
    &:hover
        background-color: #50C523

.pageup
    display: none
    position: fixed
    bottom: 40px
    right: 40px
    height: 40px
    width: 40px
    img
        width: 100%

.header
    margin: 0 auto
    max-width: 1360px
    padding: 38px 80px 26px 80px
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        z-index: 4
        width: 216px
        img
            width: 100%
    .menu
        ul
            display: flex
            justify-content: space-between
            list-style-type: none
            padding-left: 0
            margin-bottom: 0
            li
                margin-right: 30px
                a
                    font-family: 'Exo 2', sans-serif
                    font-size: 14px
                    font-weight: 300
                    color: #666666
                    &:hover
                        color: #000000
                        text-decoration: none
            li:last-child
                margin-right: 0
    .authorization
        z-index: 4
        width: 169px
        height: 37px
        background-color: #FFD014
        border-radius: 28px
        font-family: 'Exo 2', sans-serif
        font-weight: 600
        display: flex
        justify-content: center
        align-items: center
        img
            width: 14px
            margin-right: 18px
        a
            text-decoration: none
            font-size: 10px
            font-weight: 700
            vertical-align: middle
            color: #545454
        span
            font-size: 10px
            font-weight: 700
            vertical-align: middle
            color: #545454
            margin: 0 2px
    .authorization_mobile
        z-index: 4
        display: none
        margin-right: 62px
        &_circle
            width: 37px
            height: 37px
            background-color: #FFD014
            border-radius: 28px
            display: flex
            justify-content: center
            align-items: center
            img
                width: 14px
    .mobile_menu
        z-index: 4
        display: none
        position: absolute
        right: 0
        bottom: center
        padding-right: 90px
        padding-top: 1px
        cursor: pointer
        height: 31px
        &_line
            height: 3px
            width: 32px
            background: #545454
            margin-top: 6px
            border-radius: 5px
            transition: 0.2s all
            &:first-child
                margin-top: 0
            &_short
                width: 20px

.main
    min-height: 635px
    background: url('../img/bg.jpg') left center repeat
    padding: 136px 0 0 134px
    position: relative
    overflow: hidden
    &_promo
        padding-top: 10px
        padding-left: 20px
        width: 605px 
        height: 360px 
        background: #ECECEC 
        position: relative
        &_decoration
            position: absolute
            left: 20px
            top: 10px
            width: 13px
            height: 130px
            background: #FFD014
        &_above_title
            font-size: 20px
            font-style: italic
            font-weight: 300
            color: #5e5e5e
            margin-left: 25px
        &_title
            margin: 0
            margin-top: 10px
            margin-bottom: 25px
            font-size: 48px
            font-weight: 600
            line-height: 48px
            margin-top: 0
            color: #424242
            margin-left: 25px
        &_description
            font-size: 22px
            font-weight: 400
            color: #636363
            line-height: 25px
            margin-bottom: 30px
    &_road
        position: absolute
        top: 0
        left: 770px
        z-index: 2
        height: 100%
        

.audience
    padding: 80px 0
    h2
        margin-bottom: 26px
    &_scroll
        overflow-x: auto
        width: 100%
        padding: 15px 0
        &_container
            display: flex
            justify-content: center
            min-width: 100%
            padding: 10px 30px
            float: left
            &_item
                width: 227px
                height: 360px
                border-radius: 19px
                margin-right: 48px
                background: #F9F9F9
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15)
                &:last-child
                    margin-right: 0
                &_picture
                    img
                        width: 100%
                        border-top-left-radius: 19px
                        border-top-right-radius: 19px
                &_text
                    display: flex
                    align-items: center
                    margin: 0 auto
                    height: 99px
                    font-size: 16px
                    font-weight: 400
                    line-height: 18px
                    color: #444444
                    text-align: center
                    margin-top: 25px
                    margin-bottom: 24px
                    padding: 0 20px
                &_check
                    margin: 0 auto
                    width: 50px
                    height: 50px
                    background: white url('/icons/check.png') center center no-repeat
                    border-radius: 50%
                    box-shadow: 0px 0px 5.76531px rgba(0, 0, 0, 0.25)

.content
    padding-top: 60px
    padding-bottom: 120px
    background: #F8F8F8
    &_wrapper
        max-width: 1200px
        margin: 0 auto
        &_scroll
            &_tab
                width: 100%
                margin: 0 auto
                display: flex
                padding-left: 0
                justify-content: space-between
                list-style-type: none
                border-bottom: 1px solid #C9C9C9
                &_item
                    a
                        font-size: 16px
                        font-weight: 400
                        cursor: pointer
                        color: #7c7c7c
                    .nav-link.active
                        background: none
                        border-bottom: 5px solid #FFD014
                        color: black
                        font-weight: 600
                    .nav-link
                        border: none
                        padding: 10px 20px 9px 20px
                    .nav-link:focus, .nav-link:hover
                        color: #484848
        &_box
            width: 1000px
            margin: 0 auto
            margin-top: 50px
            &_item
                &_description
                    text-align: center
                    font-size: 19px
                    font-weight: 300
                    color: #727272
                &_carousel
                    margin-top: 50px
                    .carousel-cell
                        height: 550px
                        margin-right: 20px
                    .flickity-button
                        background: none
                    .flickity-button:hover
                        background: none
                    .flickity-prev-next-button
                        width: 60px
                        height: 60px
                    .flickity-button-icon
                        fill: #FFD014
                    .flickity-prev-next-button.previous
                        left: -100px
                    .flickity-prev-next-button.next
                        right: -100px
                    .flickity-page-dots
                        bottom: -32px
                    .carousel-cell img
                        display: block
                        height: 100%
                        border-radius: 9px
                    .flickity-page-dots .dot
                        width: 11px
                        height: 11px
                        background: none
                        opacity: 1
                        border: 1px solid #CDCDCD
                        margin: 0 5px
                    .flickity-page-dots .dot.is-selected
                        background: #FFD014
                        border: none

.advantages
    padding-top: 60px
    padding-bottom: 80px
    h2
        margin-bottom: 10px
    &_container
        max-width: 1001px
        margin: 0 auto
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &_item
            margin: 0 auto
            margin-top: 80px
            width: 267px
            padding: 0 10px
            &_logo
                width: 107px
                height: 107px
                border-radius: 50%
                background: #FFD014
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15)
                margin: 0 auto
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 70%
            &_header
                margin-top: 16px
                font-weight: 600
                font-size: 20px
                text-align: center
            &_description
                margin-top: 10px
                font-weight: 300
                font-size: 17px
                line-height: 20px
                text-align: center
    &_show_button
        display: none
        margin: 0 auto
        margin-top: 50px
        margin-bottom: 30px
        width: 260px
        text-align: center
        border-bottom: dotted 1px black
        padding: 10px 0 1px 0
        cursor: pointer
    button
        display: block
        margin: 0 auto
        margin-top: 50px

.subjects
    padding-top: 60px
    padding-bottom: 50px
    background: #F8F8F8
    &_container
        max-width: 1170px
        margin: 0 auto
        &_box
            display: flex
            justify-content: space-between
            .nav-tabs
                border-bottom: none
            &_tabs
                padding-top: 14px
                display: flex
                flex-direction: column
                width: 307px
                &_item
                    a
                        margin-top: 25px
                        font-size: 16px
                        font-weight: 400
                        padding: 3px 10px 6px 10px
                        cursor: pointer
                        color: #7c7c7c
                        text-align: right
                        line-height: 19px
                    .nav-link.active
                        background: none
                        box-shadow: 5px 0px 0px 0px #FFD014
                        color: #424242
                        font-weight: 600
                    .nav-link
                        border: none
                        border-bottom: none
                        border-radius: 0
                    .nav-link:focus, .nav-link:hover
                        color: #484848
            &_description
                &_item
                    width: 816px
                    height: 436px
                    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15)
                    border-radius: 9px
                    background: white
                    &_header
                        display: none
                        font-size: 16px
                        line-height: 16px
                        font-weight: 600
                        padding: 30px 0
                        text-align: center
                        width: 240px
                        height: 102px
                        margin: 0 auto
                    &_pic
                        width: 554px
                        height: 100%
                        position: relative
                        display: inline-block
                        vertical-align: middle
                        margin-right: 12px
                        img
                            width: 100%
                            border-top-left-radius: 9px
                            border-bottom-left-radius: 9px
                        &_hours
                            position: absolute
                            right: 25px
                            bottom: 18px
                            font-weight: 600
                            font-size: 13px
                            line-height: 16px
                            text-align: right
                            color: #FFFFFF
                        .dark_hours
                            color: #5c5c5c
                    &_teacher
                        display: inline-block
                        vertical-align: middle
                        width: 232px
                        &_header
                            text-align: center
                            font-weight: 500
                            font-size: 16px
                            line-height: 19px
                            color: #797979
                            margin-bottom: 30px
                        &_photo
                            margin: 0 auto
                            width: 167px
                            height: 167px
                            margin-bottom: 30px
                            img
                                height: 100%
                                width: 100%
                        &_name
                            text-align: center
                            font-weight: 300
                            font-size: 23px
                            margin-bottom: 16px
                            line-height: 23px
                        &_decoration
                            margin: 0 auto
                            width: 44px
                            height: 1px
                            background: #FFD014
                            margin-bottom: 16px
                        &_qualification
                            padding: 0 20px
                            text-align: center
                            font-weight: 300
                            font-size: 15px
                            line-height: 17px
                            color: #5F5F5F
                            text-align: center
        &_demo_link
            text-align: right
            margin-right: 60px
            margin-top: 50px
            color: black
            text-decoration: underline
            font-size: 16px
            font-weight: 400
            display: flex
            justify-content: flex-end
            &:hover
                color: black

.reviews
    padding-top: 60px
    padding-bottom: 50px
    h2
        margin-bottom: 60px
    &_carousel
        margin-bottom: 80px
        .flickity-viewport
        .carousel-cell
        .flickity-button
            background: #ffd0149f
            transition: 0.2s all
        .flickity-button:hover
            background: #FFD014
            transition: 0.2s all
        .flickity-prev-next-button
            width: 50px
            height: 50px
            border-radius: 50%
        .flickity-button-icon
            fill: #ffffffbd
        .flickity-prev-next-button.previous
            left: 50px
        .flickity-prev-next-button.next
            right: 50px
        .flickity-page-dots
            bottom: -32px
        .carousel-cell img
        .flickity-page-dots .dot
            width: 11px
            height: 11px
            background: none
            opacity: 1
            border: 1px solid #CDCDCD
            margin: 0 5px
        .flickity-page-dots .dot.is-selected
            background: #FFD014
            border: none
        &_cell
            display: flex
            justify-content: center
            align-items: center
            max-width: 395px
            height: 450px
            margin-right: 70px
            &_content
                position: relative
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15)
                max-width: 395px
                height: 420px
                border-radius: 9px
                padding: 0 47px
                &_student
                    margin-top: 35px
                    width: 297px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    &_photo
                        width: 67px
                        img
                            width: 100%
                    &_name
                        padding-top: 6px
                        width: 202px
                        font-weight: 600
                        font-size: 18px
                        line-height: 20px
                        span
                            display: block
                            height: 20px
                            margin-top: 5px
                            font-weight: 300
                            font-size: 12px
                &_text
                    height: 204px
                    margin-top: 25px
                    font-weight: 300
                    font-size: 14px
                    line-height: 17px
                &_social
                    position: absolute
                    width: 280px
                    bottom: 35px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    &_text
                        font-weight: 600
                        font-size: 13px
                    &_links
                        display: flex
                        justify-content: space-between
                        width: 63px
                        &_vk
                            width: 27px
                            height: 27px
                            background: url('../icons/vk.png')
                        &_instagram
                            width: 27px
                            height: 27px
                            background: url('../icons/instagram.png')
    &_links
        display: flex
        flex-direction: column
        margin-right: 160px
        &_item
            text-align: right
            color: #858585
            text-decoration: underline
            font-size: 16px
            font-weight: 400
            margin-bottom: 5px
            &:hover
                color: #858585

.price
    padding: 60px 40px
    background: #F8F8F8
    &_view
        max-width: 987px
        display: flex
        justify-content: space-between
        margin: 0 auto
        &_box
            &_item
                position: relative
                width: 451px
                height: 366px
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15)
                border-radius: 0px 15px 15px 0px
                background: rgba(218, 75, 75, 0.1)
                display: flex
                flex-direction: column
                &_decoration
                    position: absolute
                    left: 0
                    top: 0
                    width: 15px
                    height: 100%
                    background: #DA4B4B
                .green
                    background: #48B51E
                &_pic
                    margin-bottom: 16px
                    img
                        width: 100%
                        border-radius: 0px 15px 0px 0px
                &_type
                    font-weight: 300
                    font-size: 24px
                    margin-bottom: 2px
                    margin-left: 40px
                &_cost
                    font-weight: bold
                    font-size: 32px
                    margin-left: 40px
                    margin-bottom: 10px
            .green_light
                background: rgba(72, 181, 30, 0.12)
            &_button
                display: block
                margin: 0 auto
                margin-top: 42px
            .red
                background: rgba(218, 75, 75, 0.1)
                cursor: not-allowed
                display: flex
                justify-content: center
                align-items: center

.questions
    padding: 60px 20px 40px 20px
    h2
        margin-bottom: 62px
    &_faq
        max-width: 914px
        margin: 0 auto
        &_item
            width: 100%
            padding: 20px 100px 20px 100px
            background: #F9F9F9
            border-radius: 13px
            display: flex
            justify-content: center
            margin-top: 38px
            cursor: pointer
            &_text
                font-weight: 600
                font-size: 19px
                line-height: 26px
                color: #424242
                position: relative
                &:before
                    content: ''
                    display: block
                    position: absolute
                    width: 20px
                    height: 20px
                    top: 3px
                    left: -26px
                    background: url('../icons/question_arrow.png') center center no-repeat
                    transition: 0.2s all
        &_hidden
            width: 100%
            margin-top: -15px
            padding: 0 100px 0 100px
            background: #F9F9F9
            border-radius: 0 0 13px 13px
            max-height: 0
            overflow: hidden
            transition: max-height 0.2s ease-out
            &_text
                margin: 0 auto
                margin-top: 20px
                margin-bottom: 30px
                text-align: center
                font-weight: 300
                font-size: 18px
                line-height: 24px
                color: #666666
    &_form
        max-width: 720px
        min-height: 374px
        padding: 45px 75px
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15)
        margin: 0 auto
        margin-top: 66px
        margin-bottom: 10px
        border-radius: 13px
        &_header
            text-align: center
            font-weight: normal
            font-size: 26px
            color: #424242
        &_input_block
            display: flex
            flex-direction: column
            margin-bottom: 59px
            &_short
                display: flex
                justify-content: space-between
                &_item
                    height: 34px
                    margin: 0
                    padding: 0
                    width: 46%
                    margin-top: 46px
                    border: none
                    border-bottom: 1px solid #C2C2C2
                    color: #424242
                    &::placeholder
                        color: #b9b9b9
                &:focus
                    border: none
                    outline: none
            .long
                width: 100%
                resize: none
                overflow: hidden
                margin: 0
                padding: 0
                margin-top: 46px
                height: 30px
                &::placeholder
                    color: #b9b9b9
        &_submit
            display: block
            margin: 0 auto
            margin-top: 45px
            background: #FFD014
            width: 214px
            height: 40px
            outline: none
            border: none
            border-radius: 28px
            font-size: 18px
            padding-bottom: 2px
            color: #424242
            &:hover
                background: #ffda46

.active > .questions_faq_item_text:before
    transform: rotate(90deg)
    transition: 0.2s all

footer
    min-height: 67px
    background: #616161
    padding: 25px 0
    .footer_box
        max-width: 806px
        display: flex
        align-items: center
        margin: 0 auto
        &_text
            font-weight: 400
            font-size: 14px
            color: #EEEEEE
        &_divider
            width: 4px
            height: 4px
            background: #B4B4B4
            margin: 0 26px
            border-radius: 50%
        &_link
            font-weight: 400
            font-size: 14px
            color: #FFD014
            &:hover
                color: #FFD014
                text-decoration: none

.overlay
    position: fixed
    z-index: 8
    top: 0
    width: 100%
    min-height: 100%
    background-color: rgba(0,0,0,0.5)
    display: none
    overflow-y: auto
    overflow-x: hidden
    &_modal
        position: absolute
        top: 80px
        left: 50%
        transform: translateX(-50%)
        padding: 39px 49px
        background: #fff
        border-radius: 28px
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
        width: 497px
        margin-bottom: 40px
        &_logo
            margin: 0 auto
            width: 177px
            margin-bottom: 12px
            img
                width: 100%
        &_divider
            height: 1px
            background: #E9E9E9
            position: relative
            &_text
                font-weight: 300
                font-size: 12px
                line-height: 14px
                color: #626262
                padding: 0 10px
                background-color: #ffffff
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                min-width: 139px
                margin: 0 auto
                text-align: center
        &_header
            margin-top: 26px
            margin-bottom: 28px
            font-weight: normal
            font-size: 22px
            line-height: 26px
            text-align: center
        &_over_input
            font-size: 14px
            text-align: center
            line-height: 17px
            margin-bottom: 26px
        &_input
            display: block
            width: 100%
            height: 48px
            margin-top: 15px
            border: none
            border-radius: 8px
            background-color: rgba(240, 240, 240, 0.66)
            padding: 0 27px
            &::placeholder
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #9D9D9D
        &_under_input
            margin-top: 20px
            font-size: 14px
            line-height: 18px
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 34px
            a
                height: 100%
                color: black
                text-decoration: underline
                display: flex
                align-items: center
            input
                position: absolute
                z-index: -2
                opacity: 0
            label
                margin: 0
                padding-left: 48px
                position: relative
                height: 100%
                display: flex
                align-items: center
                a
                    display: inline
                    text-decoration: underline
            input + label::before
                content: ''
                position: absolute
                width: 34px
                height: 34px
                left: 0
                background-color: #F0F0F0
                border-radius: 7px
            input:checked + label::before
                background: #F0F0F0 url('/icons/check_yellow.png') center center no-repeat
        &_button
            display: block
            margin: 0 auto
            margin-top: 30px
            margin-bottom: 34px
            border: none
            height: 41px
            width: 203px
            border-radius: 44px
            background: #FFD014
        &_footer_text
            font-weight: 400
            font-size: 16px
            line-height: 19px
            text-align: center
            margin-top: 23px
            a
                padding: 6px
                color: black
                text-decoration: none
        &_close
            position: absolute
            top: -50px
            right: -32px
            font-size: 60px
            line-height: 60px
            color: #FFD014
            cursor: pointer

#enter, #registration, #password_recovery, #code_entering, #new_password, #thanks, #password_recovery_finished, #code_entering_twice, #terms_of_use, #privacy_policy
    display: none

#code_entering, #code_entering_twice
    .overlay_modal_under_input
        padding: 0 16px
        margin-top: 10px
        flex-wrap: wrap
        div
            padding: 8px 0
            margin-right: 8px
        a
            text-decoration: underline
            padding: 8px 0

#thanks, #password_recovery_finished
    .overlay_modal_over_input
        font-size: 18px
        line-height: 22px
        margin-top: 30px
        margin-bottom: 40px
 
#terms_of_use, #privacy_policy
    width: 800px
    .overlay_modal_over_input
        text-align: left
        text-decoration: auto
        ol
            padding-left: 10px
            margin-top: 10px
            li
                margin-top: 10px
                padding-left: 10px
        h4
            font-size: 18px
            margin-top: 10px
            font-weight: 400  

.body_stop_scroll
    overflow: hidden

